name: 24-7 Infinite Stream
on:
  schedule:
    - cron: '0 */6 * * *' # Triggers every 6 hours
  workflow_dispatch:      # Manual Start button

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Run Stream
        run: python stream.py
