name: 24/7 Music Radio Stream
on:
  schedule:
    - cron: '0 */6 * * *' # Restarts every 6 hours
  workflow_dispatch:      # Manual start button

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Run Streamer
        run: python stream.py
